n8n-kali-pentest-agent/n8n-workflow.json
{
  "name": "AI Pentest Agent - Grok + Hadidiz-AI + Kali",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "When chat message received",
      "type": "n8n-nodes-base.chatTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "options": {}
      },
      "id": "agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "grok-beta"
      },
      "id": "grok",
      "name": "xAI Grok Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatXaiGrok",
      "typeVersion": 1,
      "position": [240, 500],
      "credentials": { "xaiApi": { "id": null, "name": "xAI Grok" } }
    },
    {
      "parameters": { "type": "inMemory" },
      "id": "memory",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memory",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "host": "kali",
        "port": 22,
        "username": "root",
        "password": "={{ $env.KALI_SSH_PASSWORD }}",
        "command": "={{ $json.command || $json.input }}"
      },
      "id": "hadidiz",
      "name": "Hadidiz-AI executeCommand",
      "type": "n8n-nodes-sshv2.sshTool",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "When chat message received": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Hadidiz-AI executeCommand", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
