n8n-kali-pentest-agent/workflow.json
{
    "name": "Pentest AI Agent - Grok + Kali (Hadidiz)",
    "nodes": [
      {
        "parameters": {},
        "id": "1",
        "name": "When chat message received",
        "type": "n8n-nodes-base.chatTrigger",
        "typeVersion": 1,
        "position": [260, 240]
      },
      {
        "parameters": {
          "agent": "toolsAgent",
          "options": {}
        },
        "id": "2",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1,
        "position": [520, 240]
      },
      {
        "parameters": {
          "model": "grok-4-1-fast-reasoning"
        },
        "id": "3",
        "name": "xAI Grok Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatXaiGrok",
        "typeVersion": 1,
        "position": [260, 460],
        "credentials": {
          "xaiApi": {
            "id": null,
            "name": "xAI Grok"
          }
        }
      },
      {
        "parameters": {
          "type": "inMemory"
        },
        "id": "4",
        "name": "Memory",
        "type": "@n8n/n8n-nodes-langchain.memory",
        "typeVersion": 1,
        "position": [520, 460]
      },
      {
        "parameters": {
          "host": "kali",
          "port": 22,
          "username": "root",
          "password": "={{ $env.KALI_SSH_PASSWORD }}",
          "command": "={{ $json.command || $json.input }}"
        },
        "id": "5",
        "name": "Hadidiz-AI executeCommand",
        "type": "n8n-nodes-sshv2.sshTool",
        "typeVersion": 1,
        "position": [780, 460]
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
      },
      "AI Agent": {
        "main": [[{ "node": "Hadidiz-AI executeCommand", "type": "main", "index": 0 }]]
      }
    },
    "active": false,
    "settings": {},
    "versionId": "1"
  }